/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Architects Daughter'
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header h1 {
    font-size: 3rem;
    margin-top: 2%;
}

header nav {
    border: 2px solid black;
    width: 40%;
    display: flex;
    margin-top: 2%;
}

header nav a {
    border-right: 2px solid black;
    padding: 2%;
    width: 25%;
    text-align: center;
    text-decoration: none;
    color: black;
}

header nav a:last-child {
    border: none;
}

header nav a:active {
    background-color: black;
    color: white;
}

.top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section h2 {
    font-size: 2.5rem;
    margin-top: 2%;
}

.top-section p {
    width: 80%;
    font-size: 0.8rem;
    margin-top: 2%;
}

.top-section img{
    width: 100%;
    margin-top: 2%;
}

.projects-section {
    width: 100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.projects-section img {
    width: 15%;
    height: 300px;
    margin: 0 1%;
}

footer {
    width: 100%;
    height: 100px;
    margin-top: 1%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    width: 10%;
}

footer a button {
    font-family: "Architects Daughter";
    width: 100%;
    border: 1px solid black;
    background-color: white;
    font-size: 1.4rem;
}